/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.atl
/informacion_util
comandos.md
start.ps1
stop.ps1

# Laravel storage logs & cache
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/app/.gitignore
!/storage/framework/.gitignore
!/storage/logs/.gitignore

# Angular specific files
/frontend/dist/
/frontend/.angular/
/frontend/node_modules/
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/.env

# OS specific files
.DS_Store
Thumbs.db